{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}PEmpire{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">Dramacool</h1>
  <p class="description">Can Download Everything Present On Dramacool Website</p>
  <div class="content">
    			{{ wtf.quick_form(form_find, novalidate=True) }}
</div>

    <div class="me">
    {% for media in data %}
        <a href="{{ url_for('select_episodes', url=media.url, name=media.name, img=media.img) }}">
      <div class="card" >
        <div class="front" style="background-image: url({{media.img }});">
            <p class="large">{{ media.name }}</p>
        </div>
          </div>
          </a>
    {% endfor %}
    </div>
</div>

{% endblock %}